<html lang="en-US">
<head>
    <title>Recipe Book</title>
</head>
<body>
    <h1>
        Recipe Book
    </h1>
    <h2>
        {{object.name}}
    </h2>
        <ul>
        <p>Recipe by: {{object.author.name}}</p>
        {% for ingredient in object.ingredients.all %}
            <li>{{ingredient.ingredient.name}}</li>
            <ul>
                {{ingredient.quantity}}
            </ul>
        {% endfor %}
    <br>
    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
    {% endif %}
        </ul>
    <br>
    <p>Created on: {{object.created_on}}</p>
    <p>Last updated on: {{object.updated_on}}</p>
</body>
</html>